#dashboard-link-color a:visited,
#dashboard-link-color a:link,
#dashboard-link-color a:active {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar-container {
  height: 75px;
}

.nav-menu-container {
  margin-right: 15px;
}

.nav-center-logo {
  margin-bottom: 4px;
  margin-left: 40px;
}

.nav-settings-icon {
  padding-top: 10px;
  height: 32px;
  width: 32px;
}

.footer {
  position: relative;
  height: 40px;
  width: 100%;
  bottom: 0;
}

.dashboard-images {
  opacity: 0.5;
  height: 300px;
  width: 100%;
}

a:hover .dashboard-images{
  opacity: 1;
  -webkit-box-shadow: 0px 0px 30px -10px;
  -moz-box-shadow: 0px 0px 30px -10px;
  box-shadow: 0px 0px 30px -10px black;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  z-index: 9999;
}

.dashboard-container {
  min-height: calc(100vh - 145px);
  margin-top: 30px;
}

.dashboard-text-container {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -40%);
  width: 150px;
}

.dashboard-text {
  position: relative;
  text-align: center;
  color: white;
  background-color: orange;
}

.dashboard-username {
  padding-right: 10px;
  font-size: 1rem;
}

.resource-doc {
  height: 150px;
  width: 750px;
  background-color: orange;
}